{% extends 'master.html' %}

{% block title %}
    Invoices - Edit item
{% endblock %}

{% block content %}
    <h3>Edit invoice item</h3>
    <!-- Edit item form -->
    <form class="row g-3" method="post" action="{% url 'invoices_app:edit_item' item_id %}">
        {% csrf_token %}
          <div class="col-md-12">
              <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label_tag }}</label>
              <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" required>{{ form.description.value }}</textarea>
              {% if form.description.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-6">
              <label for="{{ form.total.id_for_label }}" class="form-label">{{ form.total.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.total.id_for_label }}" name="{{ form.total.name }}" value="{{ form.total.value }}" required>
              {% if form.total.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.total.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-12">
              <button type="submit" class="btn btn-primary">Save</button>
              {% if perms.invoices_app.change_invoice %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmInvoiceItemDelete">Delete item</button>
              {% endif %}
          </div>
    </form>

    {% if perms.invoices_app.change_invoice %}
    <!-- Modal -->
    <div class="modal fade" id="confirmInvoiceItemDelete" tabindex="-1" aria-labelledby="confirmInvoiceItemDeleteLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmInvoiceItemDeleteLabel">Delete invoice item?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            This will delete the invoice item permanently. Are you sure you want to proceed?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{% url 'invoices_app:delete_item' item_id %}" role="button">Delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

{% endblock %}
