{% extends 'master.html' %}
{% load humanize %}

{% block title %}
    Invoices - Edit invoice
{% endblock %}

{% block content %}
    <h3>Edit invoice number: {{ form.number.value }}</h3>
    <!-- Edit form -->
    <form class="row g-3" method="post" action="{% url 'invoices_app:edit' id %}">
        {% csrf_token %}
          <div class="col-md-6">
              <label for="{{ form.number.id_for_label }}" class="form-label">{{ form.number.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.number.id_for_label }}" name="{{ form.number.name }}" value="{{ form.number.value }}" required>
              {% if form.number.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-6">
              <label for="{{ form.date.id_for_label }}" class="form-label">{{ form.date.label_tag }}</label>
              <input type="date" class="form-control" id="{{ form.date.id_for_label }}" name="{{ form.date.name }}" value="{{ form.date.value|date:'Y-m-d' }}" required>
              {% if form.date.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.date.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-12">
              <label for="{{ form.company_name.id_for_label }}" class="form-label">{{ form.company_name.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.company_name.id_for_label }}" name="{{ form.company_name.name }}" value="{{ form.company_name.value }}" required>
              {% if form.company_name.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.company_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-12">
              <label for="{{ form.company_address.id_for_label }}" class="form-label">{{ form.company_address.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.company_address.id_for_label }}" name="{{ form.company_address.name }}" value="{{ form.company_address.value }}" required>
              {% if form.company_address.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.company_address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-2">
              <label for="{{ form.company_post_code.id_for_label }}" class="form-label">{{ form.company_post_code.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.company_post_code.id_for_label }}" name="{{ form.company_post_code.name }}" value="{{ form.company_post_code.value }}" required>
              {% if form.company_post_code.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.company_post_code.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-6">
              <label for="{{ form.company_city.id_for_label }}" class="form-label">{{ form.company_city.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.company_city.id_for_label }}" name="{{ form.company_city.name }}" value="{{ form.company_city.value }}" required>
              {% if form.company_city.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.company_city.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-4">
              <label for="{{ form.company_country.id_for_label }}" class="form-label">{{ form.company_country.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.company_country.id_for_label }}" name="{{ form.company_country.name }}" value="{{ form.company_country.value }}" required>
              {% if form.company_country.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.company_country.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-12">
              <label for="{{ form.payment_account.id_for_label }}" class="form-label">{{ form.payment_account.label_tag }}</label>
              <input type="text" class="form-control" id="{{ form.payment_account.id_for_label }}" name="{{ form.payment_account.name }}" value="{{ form.payment_account.value }}">
              {% if form.payment_account.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.payment_account.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-md-12">
              <label for="{{ form.remarks.id_for_label }}" class="form-label">{{ form.remarks.label_tag }}</label>
              <textarea class="form-control" id="{{ form.remarks.id_for_label }}" name="{{ form.remarks.name }}">{{ form.remarks.value }}</textarea>
              {% if form.remarks.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.remarks.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
          </div>
          <div class="col-12">
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
    </form>

{% endblock %}
