{% extends 'master.html' %}

{% block title %}
    Invoices - Preview
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Company</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <th scope="row"><a href="{% url 'invoices_app:invoice' invoice.id %}">{{ invoice.number }}</a></th>
                    <td>{{ invoice.date|date:'d.m.Y' }}</td>
                    <td class="text-start">{{ invoice.company_name }}</td>
                    <td class="text-start">{{ invoice.company_city }}</td>
                    <td class="text-start">{{ invoice.company_country }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}